<%= form_for(@letter) do |f| %>
  <% if @letter.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@letter.errors.count, "error") %> prohibited this letter from being saved:</h2>

      <ul>
      <% @letter.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
  </div>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="field">
    <%= f.label :crypted_password %><br />
    <%= f.text_field :crypted_password %>
  </div>
  <div class="field">
    <%= f.label :salt %><br />
    <%= f.text_field :salt %>
  </div>
  <div class="field">
    <%= f.label :sender_name %><br />
    <%= f.text_field :sender_name %>
  </div>
  <div class="field">
    <%= f.label :sender_address %><br />
    <%= f.text_field :sender_address %>
  </div>
  <div class="field">
    <%= f.label :sender_phone %><br />
    <%= f.text_field :sender_phone %>
  </div>
  <div class="field">
    <%= f.label :receiver_phone %><br />
    <%= f.text_field :receiver_phone %>
  </div>
  <div class="field">
    <%= f.label :receiver_address %><br />
    <%= f.text_field :receiver_address %>
  </div>
  <div class="field">
    <%= f.label :receiver_phone %><br />
    <%= f.text_field :receiver_phone %>
  </div>
  <div class="field">
    <%= f.label :content %><br />
    <%= f.text_field :content %>
  </div>
  <div class="field">
    <%= f.label :express %><br />
    <%= f.text_field :express %>
  </div>
  <div class="field">
    <%= f.label :paper_id %><br />
    <%= f.number_field :paper_id %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
