<h1>Listing letters</h1>

<table>
  <tr>
    <th>User</th>
    <th>Email</th>
    <th>Crypted password</th>
    <th>Salt</th>
    <th>Sender name</th>
    <th>Sender address</th>
    <th>Sender phone</th>
    <th>Receiver phone</th>
    <th>Receiver address</th>
    <th>Receiver phone</th>
    <th>Content</th>
    <th>Express</th>
    <th>Paper</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @letters.each do |letter| %>
  <tr>
    <td><%= letter.user_id %></td>
    <td><%= letter.email %></td>
    <td><%= letter.crypted_password %></td>
    <td><%= letter.salt %></td>
    <td><%= letter.sender_name %></td>
    <td><%= letter.sender_address %></td>
    <td><%= letter.sender_phone %></td>
    <td><%= letter.receiver_phone %></td>
    <td><%= letter.receiver_address %></td>
    <td><%= letter.receiver_phone %></td>
    <td><%= letter.content %></td>
    <td><%= letter.express %></td>
    <td><%= letter.paper_id %></td>
    <td><%= link_to 'Show', letter %></td>
    <td><%= link_to 'Edit', edit_letter_path(letter) %></td>
    <td><%= link_to 'Destroy', letter, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Letter', new_letter_path %>
