<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @letter.user_id %>
</p>

<p>
  <b>Email:</b>
  <%= @letter.email %>
</p>

<p>
  <b>Crypted password:</b>
  <%= @letter.crypted_password %>
</p>

<p>
  <b>Salt:</b>
  <%= @letter.salt %>
</p>

<p>
  <b>Sender name:</b>
  <%= @letter.sender_name %>
</p>

<p>
  <b>Sender address:</b>
  <%= @letter.sender_address %>
</p>

<p>
  <b>Sender phone:</b>
  <%= @letter.sender_phone %>
</p>

<p>
  <b>Receiver phone:</b>
  <%= @letter.receiver_phone %>
</p>

<p>
  <b>Receiver address:</b>
  <%= @letter.receiver_address %>
</p>

<p>
  <b>Receiver phone:</b>
  <%= @letter.receiver_phone %>
</p>

<p>
  <b>Content:</b>
  <%= @letter.content %>
</p>

<p>
  <b>Express:</b>
  <%= @letter.express %>
</p>

<p>
  <b>Paper:</b>
  <%= @letter.paper_id %>
</p>


<%= link_to 'Edit', edit_letter_path(@letter) %> |
<%= link_to 'Back', letters_path %>
