<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>CoffeeLetter</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <meta property="og:title" content="커피레터" />
  <meta property="og:site_name" content="커피레터" />
  <meta property="og:description" content="커피로 전하는 아날로그 기프티콘" />
  <meta property="og:type" content="site" />
  <meta property="og:url" content="http://letter.moncl.net" />
  <meta property="og:image" content="https://fbcdn-sphotos-d-a.akamaihd.net/hphotos-ak-ash3/946628_392945710817192_738100542_n.jpg" />
  <!-- <meta property="fb:admins" content="[여기에 관리자 ID를 등록합니다]" />
  <meta property="fb:app_id" content="[여기에 APP_ID를 등록합니다]" /> -->
</head>
<body>
  <div class="navbar navbar-fixed-top">
    <div class="container">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Coffee letter</a>
      <div class="nav-collapse collapse">
        <ul class="nav navbar-nav">
          <!-- <li class="active"><a href="#">Home</a></li>
          <li><a href="#about">About</a></li>
          <li><a href="#contact">Contact</a></li>
          <li class="dropdown">
            <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
            <ul class="dropdown-menu">
              <li><a href="#">Action</a></li>
              <li><a href="#">Another action</a></li>
              <li><a href="#">Something else here</a></li>
              <li class="divider"></li>
              <li class="nav-header">Nav header</li>
              <li><a href="#">Separated link</a></li>
              <li><a href="#">One more separated link</a></li>
            </ul>
          </li>
          -->
        </ul>
        <ul class="nav navbar-nav pull-right">
          <% if logged_in? %>
            <li><%= link_to "#{current_user.email} 로그아웃", logout_path%></li>
          <% end %>
          <!--
          <li><a href="/examples/navbar-static-top/">Static top</a></li>
          <li class="active"><a href="/examples/navbar-fixed-top/">Fixed top</a></li>
          -->
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
  <div class="container">
  <p id="notice"><%= notice %></p>
  </div>
<%= yield %>

</body>
</html>